/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.nav-header {
   position: fixed;
   top: 0;
   left: 0;
}

.icon-block {
   padding: 0 15px;
}
.icon-block .material-icons {
   font-size: inherit;
}

.style-card {
   color: hsla(0, 0%, 100%, 0.6);
   text-align: center;
   padding: 24px 16px 20px;
}
.style-card h1 {
   color: #fff;
   font-size: 28px;
   font-weight: 900;
   margin: 0;
}
.style-card p {
   margin: 0;
}
.style-card .btn-large {
   margin-top: 22px;
}
p.raiting {
   padding-top: 14px;
   padding-bottom: 6px;
}

.style-card {
   font-size: 15px;
}

.raiting-value {
   color: #3bb33b;
}

.btn-list {
   display: flex;
   justify-content: center;
   gap: 16px;
   margin: 22px 0 24px;
}

.btn-list__item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 4px;
   width: 100%;
}

.style-root {
   padding-top: 56px;
}

.style-poster {
   width: 100%;
   height: 56.25vw;
   max-height: calc(768px / 1.7777777778);
   overflow: hidden;
}

.style-synopsis {
   /* position: relative; */
   z-index: 1;
   margin-top: -14px;
   padding: 24px 16px 43px;
   background: #fff;
}

.style-synopsis__short {
   margin-bottom: 16px;
   font-size: 18px;
   line-height: 22px;
}

.style-synopsis__full {
   height: auto;
   font-size: 15px;
   line-height: 20px;
   letter-spacing: -0.35px;
}

h3 {
   font-size: 22px;
   line-height: 18px;
   font-weight: 700;
   margin: 0;
}

.style-title {
   display: flex;
   justify-content: space-between;
   display: flex;
   align-items: center;
   flex-direction: row;
   margin: 0;
   padding-block-start: 16px;
   padding-block-end: 4px;
   padding-inline-start: 16px;
   padding-inline-end: 16px;
   font-size: 18px;
   font-weight: 900;
   line-height: 24px;
}

.style-title .btn {
   font-size: 18px;
   color: #f50;
   padding-right: 0;
}

.style-episodes__content,
.style-trailer__content {
   padding: 0 16px;
}

.style-episodes__content p {
   margin: 0;
   margin-bottom: 5px;
   font-size: 15px;
}

.style-trailer {
   padding: 16px 0;
}

.trailer-video {
   width: 100%;
   height: 50vw;
}

.trailer__name,
.trailer__date {
   font-size: 15px;
   line-height: 18px;
   font-weight: 700;
   margin: 0;
   margin-top: 10px;
}

.trailer__date {
   font-size: 15px;
   color: rgba(0, 0, 0, 0.6);
   font-weight: normal;
   margin-top: 4px;
}

.style-trailer .style-title {
   padding: 16px;
}

.style-actors {
   padding: 0 0 16px 0;
}

.actors__list {
   display: flex;
   width: auto;
   overflow-x: scroll;
   gap: 12px;
   padding: 0 16px;
}

.actors__item {
   display: flex;
   /* align-items: center; */
   flex-direction: column;
   gap: 12px;
   padding-bottom: 12px;
}

.actors__item .info {
   display: flex;
   flex-direction: column;
   font-size: 15px;
   color: rgba(0, 0, 0, 0.6);
}

.actors__item .info .name {
   line-height: 18px;
   font-weight: 700;
   font-size: 15px;
   color: #000;
}

.photo {
   background: #000;
   height: 150px;
   width: 100px;
}

.style-raiting {
   padding: 16px 0;
}

/* .style-raiting__content {
   padding: 0 16px;
} */

.raiting-block {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 24px;
   background: #f7f7f7;
   margin: 8px 16px;
}

.raiting-block__number {
   font-size: 66px;
   color: #3bb33b;
   font-weight: 900;
}

.raiting-block__votes {
   margin-top: -10px;
   margin-bottom: 14px;
   color: rgba(0, 0, 0, 0.6);
   font-size: 15px;
}

.raiting-list {
   display: flex;
   gap: 8px;
   width: auto;
   overflow-x: scroll;
   padding: 0 16px;
   padding-bottom: 16px;
}

.raiting-list__item {
   padding: 16px;
   background: #f7f7f7;
}

.raiting-list__value {
   font-size: 18px;
   line-height: 20px;
   color: rgba(0, 0, 0, 0.4);
}

.raiting-list__value p {
   margin: 0;
   width: max-content;
}

.raiting-list__value strong {
   font-size: 24px;
   font-weight: 900;
   color: #000;
   margin-right: 3px;
}

.raiting-list__source {
   color: #333;
   font-size: 15px;
   white-space: nowrap;
}

.style-cadrs {
   padding: 16px 0;
}

.cadrs-list {
   display: flex;
   gap: 8px;
   width: auto;
   overflow-x: scroll;
   overflow-y: hidden;
   padding-bottom: 16px;
   padding: 0 16px 16px;
}

.cadrs-list__item {
   height: 168px;
}

.cadrs-list__item img {
   height: 100%;
}

.fancybox__backdrop,
.is-compact .fancybox__footer {
   background:     !important;
}

.f-button,
.is-compact .fancybox__footer {
   background: rgba(0, 0, 0,) !important
   ;
}

.f-thumbs__slide {
	width: 100px !important;
	height: 56px !important;
}

.fancybox__thumbs.is-horizontal {
   padding-bottom: 18px;
}

@media (max-width: 768px) {
   .f-carousel__nav .f-button.is-prev, .f-carousel__nav .f-button.is-next, .fancybox__nav .f-button.is-prev, .fancybox__nav .f-button.is-next {
      opacity: 0 !important;
   }
   .f-thumbs__slide__button {
      width: 100% !important;
   }
}

.reviews-list {
   padding: 0 16px;
   display: flex;
   gap: 8px;
   width: auto;
   padding-bottom: 16px;
   overflow-y: hidden;
   overflow-x: scroll;
}

.reviews-list__item {
   padding-top: 16px;
   min-width: 300px;
   max-width: 300px;
   /* padding: 16px 16px 12px; */
   background-color: rgba(0, 0, 0, 0.05);
}

.review__header {
   display: flex;
   align-items: center;
   padding: 0 16px 0 12px;
   gap: 12px;
   height: 48px;
   border-left: 4px solid #3bb33b;
}

.review-false .review__header {
   /* border-left: 4px solid red; */
}

.review__info {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.style-reviews__content p {
   margin: 0;
}
.review__text {
   padding: 12px 16px;
}

.review__info .username {
   font-size: 18px;
   font-weight: 600;
   line-height: 18px;
}

.review__info .counter-reviews {
   font-size: 15px;
   color: rgba(0, 0, 0, 0.6);
}

.review__avatar {
   background-color: hsla(0, 0%, 47%, 0.4);
   height: 48px;
   width: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100px;
}

.review__avatar i {
   color: #fff;
}

.review-title {
   font-size: 18px;
   font-weight: 400;
   line-height: 18px;
}

.review-content {
   padding-top: 10px;
   font-size: 15px;
   line-height: 18px;
}

/* style-dopinfo */
.style-dopinfo {
   padding: 16px 0;
}

.style-dopinfo__content {
   padding: 16px 16px 0;
}

.dopinfo-item {
   display: flex;
   justify-content: space-between;
   padding-bottom: 8px;
}

.dopinfo-parametr {
   font-size: 15px;
   color: rgba(0, 0, 0, 0.6);
}

.dopinfo-value {
   font-size: 15px;
}

/* Footer */
.page-footer {
   margin-top: 48px;
   font-size: 15px;
}

#logo-container {
   font-family: "Jost", Arial, Helvetica, sans-serif;
   font-weight: 900;
   font-size: 24px;
}
